#haut_page{
	background-image: url("../IMG/ADD_BACKGROUND.jpg");
	background-size: contain;
	font-family: Copperplate Gothic;
	margin: 15px 0;
	height: 65px;
	justify-content: center;
	align-items: center;
}

#createurs{
	color: white;
}

#titre_page{
	color: white;
	background-color: #359aff;
	border: 2px solid white;
	border-radius: 5px;
	text-align: center;
	position: relative;
	width: 25%;
	left: 37.5%;
}

#contenu{
	display: inline-block;
	widht: 48%;
}

body{
	background-color: black;
}

#connexion{
	position: absolute;
	left: 90%;
	width: 60px;
	height: 60px;
	background-color: #e9e9e9;
	border-radius: 50%;
	margin: 1%;
	text-align: center;
}

.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes*/
	justify-content: space-evenly; /* Alignements des liens dans le menu */
}

.menu li {
    list-style-type: none;       /* Suppression des puces */
  
}

.menu a {
    display:block;                /* Transformation en block */
    min-width: 100px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #0051ff;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: 0;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 2px;           /* Arrondis des bordures */
    
    transition: all 1s ;          /* Ajout des effets de transition */
}

.menu a.actif {    
    background-color: #000 ; 
    color: #1ae129;
    border-color: #1ABC9C ;
}

.menu a:hover,
.menu a:hover.actif{
    background-color: #00d8ff;
    color: #000;
    border-color: #ffe843;
}

#presentation
{
	font-family: Arial;
	font-size: 30px;
	color: white;
	text-align: left;
	margin: 0 1%;
	background-color: black;
	height: 50%;
	border: 2px solid royalblue;
	border-radius: 15px;
}

#bienvenue{
	margin: 7%;
	text-decoration: underline;
}

#description{
	margin-left: 4%;
}

footer{
	text-align: center;
	color: white;
	padding: 2%;
}